<head>
   <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
   <link rel="stylesheet" href="/app.css">
</head>
<body>
  <h1>Subscribe Today</h1>
   
  <p class="lead">Enter your email to join <strong><%=count%></strong> 
  others on our waitlist. Subscribing will let you be the first to hear about our exclusive offers and latest arrivals</p>
   
  <form method="POST" action='/register'>
   <input type="text" name="email" class="form" placeholder="Enter Your Email">
   <button>Subscribe Now</button>
  </form>
</body>